body{
    font-size: 20px;
}
.mycontainer div{
    margin-bottom: 10px;
}

.control_panel input{
    padding: 5px;
    margin-left: 10px;

}
.control_panel label{
    display: inline-block;
    width: 70px;

}


.control_panel_group{
    margin-top: 5px;
}

.distance th{

    width: 10%;}

.distance td{

    width: 10%;}

.login_background{
    background:url("https://www.hr.com/portals/hrcom/Page/images/Cover-photos/HRcom-HomeSplash.jpg");}


.login_fix_{
    background:#fffdfd40;
    border:white;
    /*padding-top:172px;*/
    font-style: italic;
    color:aliceblue;
    width: 500px;
    height: 500px;
}

.logout {
    position: absolute;
    top: 12px;
    right: 119px;
}